@import url('https://fonts.googleapis.com/css2?family=Galada&family=Noto+Sans+Bengali:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;500;700&family=Oswald:wght@500;700&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans Bengali', sans-serif;
}

body {
	font-family: 'Noto Sans Bengali', sans-serif;
}

.appbox {
	border: 2px solid black;
	/* height: 800px; */
	width: 500px;
	padding: 15px;
	overflow: hidden;
	background: teal;
}
.dorponBody{
	background: rgb(147 60 147);
}
.mainSlogan .prangonSlogan{
	transform: translateY(-95%);
}

.maintitle h3{
	font-size: 60px;
	text-align: center;
	color: rgb(28, 26, 26);
	font-family: 'Galada', cursive;
	font-weight: 700;
}
.dorponBody .maintitle h3 {
    font-size: 60px;
    text-align: center;
    color: #ffd966;
    font-family: 'Galada', cursive;
    /* text-shadow: 0px 1px 0px; */
    font-weight: 700;
}

.logo {
	max-width: 164px;
	min-width: 164px;
	max-height: 164px;
	min-height: 164px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0;
	padding: 0px;
}

#displayImage {
	max-width: 160px;
	min-width: 160px;
	border-radius: 50%;
	background-repeat: no-repeat;
	min-height: 160px !important;
}

.mainSlogan {
	text-align: center;
	font-size: 24px;
	color: #fff;
	font-weight: bold;
	transform: translateY(160%);
	text-shadow: 1px 1px 2px black;
	font-family: 'Galada', cursive;
}

.certificateTitle p {
	color: white;
	font-size: 20px;
	font-weight: bold;
	background: #23239f;
	border: 2px solid white;
	padding: 5px 10px;
	border-radius: 10px;
	text-align: center;
}

.certificate h4 {
	color: white;
	background: #00000065;
	text-align: center;
	text-shadow: 2px 2px 2px black;
	border: 2px solid #333;
	padding: 3px;
	font-weight: bold;
	width: 144px;
	border-radius: 27px;
	display: inline-block;
	font-size: 19px;
}

.profile {
	max-width: 130px;
	min-width: 130px;
	max-height: 130px;
	min-height: 130px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	transform: translateY(25%);
}

.profile img {
	max-width: 130px;
	min-width: 130px;
	border-radius: 50%;
}

.appBody .mainPoint {
	color: white;
	font-size: 18px;
	font-weight: bold;
	transform: translateY(25%);
}

.appBody .poetryName {
	font-size: 20px;
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px 2px #333;
	padding: 8px 0;
	overflow: hidden;
}

#downBtn {
	text-decoration: none;
	font-size: 20px;
	color: white;
	background: #4e50c1;
	padding: 5px 10px;
	border-radius: 10px;
	margin-top: 30px;
	display: inline-block;
	transition: 1s;
	border: 1px solid #4e50c1;
}

#downBtn:hover {
	text-decoration: none;
	font-size: 20px;
	color: #4e50c1;
	background: white;
	padding: 5px 15px;
	border-radius: 30px;
}

.footer {
	background: #0000008c;
	color: #fff;
	border: 2px solid white;
	border-radius: 15px;
}

.footer p {
	margin: 0;
	padding: 5px;
}




/* Form Section */
form {
	display: table-caption;
}

label {
	padding: 25px 100px;
	font-size: 20px;
	background: aliceblue;
}

input {
	font-family: revert-layer;
	font-weight: 300;
	padding: 5px 10px;
	border-radius: 14px;
	border: 1px solid #80808059;
	font-size: 16px;
}


/* Clock Css */
#clockdate {
	width: 300px;
}
.clockdate-wrapper {
	background-color: rgba(51, 51, 51, 0);
	padding: 15px;
	/* max-width: 350px; */
	width: 100%;
	text-align: center;
	border-radius: 5px;
	margin: 0 auto;
}
#clock {
	background-color: rgba(51, 51, 51, 0);
	font-family: sans-serif;
	font-size: 35px;
	text-shadow: 0px 0px 1px #fff;
	color: #fff;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    position:relative;
    top:-5px;
    left:5px;
	font-size: 18px;
}
#date {
    letter-spacing:3px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
}

/* Navbar Styling */
.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	font-size: 18px;
	padding: 0 18px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
	position: absolute;
	background: #0009;
	color: white !important;
	font-size: 20px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu li a{
	color: #fff;
}
.navbar-expand-lg .navbar-nav .dropdown-menu li a:hover{
	color: #000;
}