<!DOCTYPE html>
<html lang="bn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Maker | By NiloyMahmud</title>
    <link rel="icon" href="img/logo2.png" type="image/png" sizes="400x400">

    <!-- Links -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body onload="startTime()">
    <section class="mainSec">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="" style="width: 120px;"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="index-3.html">বিশ্ব সাহিত্য দর্পণ</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      View Facebook Groups
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="https://www.facebook.com/groups/187691832985717">বিশ্ব সাহিত্য প্রাঙ্গণ</a></li>
                      <li><a class="dropdown-item" href="https://www.facebook.com/groups/2342981176003095">বিশ্ব সাহিত্য দর্পণ</a></li>
                    </ul>
                  </li>
                </ul>
                <!-- Date and time Clock -->
    <div id="clockdate">
        <div class="clockdate-wrapper">
          <div id="clock"></div>
          <div id="date"></div>
        </div>
      </div>
              </div>
            </div>
          </nav>
    </section>
   


    <header class="mt-5 text-center">
        <h3>Welcome To Certificate Maker Site. Fill The Form Click Download Image And See The Magic!!!</h3>
    </header>

    <!-- ====================== Certificate Body Section ====================== -->
    <section id="app">
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="appbox" id="divBody">
                        <!-- \\\\\\\\\\\\\\ App Header Section ////////////// -->
                        <h6 class="text-center"
                            style="color: aliceblue; font-weight: bold; text-shadow: 1px 1px 1px black; text-justify: distribute;">
                            "পরম করুণাময়ের নামে"</h6>
                        <div class="maintitle">
                            <h3>বিশ্ব সাহিত্য প্রাঙ্গণ</h3>
                        </div>

                        <div class="row mt-0">
                            <div class="col-sm-4 col-4">
                                <div class="logo w-100" id="displayImage">
                                    <img src="img/Optimized-prangon-img.png" alt="" class="w-100">
                                </div>
                            </div>
                            <div class="col-sm-8 col-8">
                                <div class="mainSlogan">
                                   <p class="prangonSlogan">"সৃজনশীল সৃষ্টি হোক পরম তৃপ্তির আনন্দ"</p>
                                </div>
                            </div>
                        </div>

                        <div class="certificateTitle mt-3">
                            <p>দৈনিক ভালোলাগা কবিতা ও কবি</p>
                        </div>

                        <div class="certificate text-center mt-3">
                            <h4>সম্মাননা সনদ</h4>
                        </div>

                        <!-- \\\\\\\\\\\\\\ App Body Section ////////////// -->
                        <div class="appBody row">
                            <div class="col-sm-8 col-8 mainPoint">
                                <div class="poetryName">কবিতাঃ {{ poetryName }}</div>
                                <div class="poetName">কবিঃ {{ poetName }}</div>
                                <div class="dateSelect">তারিখঃ {{ date }}</div>
                            </div>
                            <div class="col-sm-4 col-4">
                                <div class="profile w-100" id="displayProfile">

                                </div>
                            </div>
                        </div>

                        <!-- \\\\\\\\\\\\\\ App Footer Section ////////////// -->

                        <div class="congrats mt-5 text-center">
                            <article style="font-weight: bold; color: black; font-size: small;">প্রতিষ্ঠাতা এবং
                                এডমিনগণদের পক্ষ থেকে ভালোলাগা কবিতার প্রিয় কবিকে আন্তরিক শুভেচ্ছা ও অভিনন্দন</article>
                        </div>
                        <div class="certificate text-center mt-2">
                            <h4>শুভেচ্ছান্তে</h4>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-6">
                                <div class="text-center footer">
                                    <p>এন.এইচ.চৌধুরী বিপ্লব</p>
                                    <p>প্রতিষ্ঠাতা</p>
                                    
                                </div>
                            </div>
                            <div class="col-sm-6 col-6">
                                <div class="text-center footer">
                                    <p>নির্মল কর শেখর</p>
                                    <p>প্রধান সমন্বয়কারী</p>
                                    
                                </div>
                            </div>
                        </div>


                    </div>

                </div>


                <!-- =========================== Form Filling Section =========================== -->
                <div class="col-sm-12 col-lg-6">
                    <div class="appform">
                        <form action="#">
                            <label for="poetryName">কবিতার নাম লিখুন
                                <input type="text" placeholder="কবিতার নাম লিখুন" v-model="poetryName">
                            </label>
                            <label for="poetName">কবির নাম লিখুন
                                <input type="text" placeholder="কবির নাম লিখুন" v-model="poetName">
                            </label>
                            <label for="date">তারিখ লিখুন
                                <input type="text" placeholder="তারিখ লিখুন" v-model="date">
                            </label>
                            <label for="profile">ছবি আপলোড করুন
                                <input type="file" id="profileInput"  accept="image/png, image/jpeg">
                                <p class="massagePic">১৩০ x ১৩০ সাইজের ছবি আপলোড করুন</p>
                            </label>
                        </form>
                    </div>
                    <p class="mt-5 mb-0">সার্টিফিকেট ডাউনলোড করতে নিচের বাটন এ ক্লিক করুন <br><i
                            class="fas fa-chevron-down" style="font-size: 30px;"></i></p>

                    <button id="downBtn" class="downbtn">Download Certificate <i class="fas fa-download"></i></button>
                </div>
            </div>
        </div>
    </section>

    <footer class="text-center">
        <p>Copyright Claim 2022 | Created By <a href="https://www.facebook.com/niloy.mahmud.72">Niloy Mahmud</a></p>
    </footer>





    <!-- JS Links -->
    <script src="js/jquery-3.6.0.slim.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/all.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/dom-to-image.min.js"></script>
    <script src="js/FileSaver.js"></script>
    <script src="js/script.js"></script>

    <script>
        $(document).ready(function () {
            $("#downBtn").click(function () {
                domtoimage.toBlob(document.getElementById("divBody")).then(function (blob) {
                    window.saveAs(blob, "output.png")
                })
            })
        });


        var options = {
  file: file,

  // Callback before compression
  beforeCompress: function (result) {
    console.log('Image size before compression:', result.size);
    console.log('mime type:', result.type);
  },

  // Compression success callback
  success: function (result) {
    console.log('result:', result)
    console.log('Image size after compression:', result.size);
    console.log('mime type:', result.type);
    console.log('Actual compression ratio:', ((file.size-result.size) / file.size * 100).toFixed(2) +'%');
  }
};

new ImageCompressor(options);
    </script>
</body>

</html>